.categories {
    margin-top: 33px;
    @include flex(center, flex-start);
    gap: 59px;
}

.categories-item {
    @include textSize (700, 35px, normal); 
    color: var(--text-color-pg2);
}

.categories > .active {
    color: $main-orange;
}

@include mqDecrease (476px) {
    .categories {
        margin-top: 24px;
        @include flex(center, space-between);
        gap: 5px;
    }
    
    .categories-item {
        @include textSize (700, 14px, normal); 
    } 
}