*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    --text-color: rgb(225, 226, 226);
    --bg-color-darker: rgba(58, 37, 109, 0.5);
    --bg-color-lighter: rgba(73, 45, 216, 0.5);
    --btn-bgcolor: rgb(225, 226, 226);

    --text-color-pg2: rgb(229, 229, 229);
    --bg-color-darker-opaque: rgba(58, 37, 109);
    --bg-color-lighter-opaque: rgba(73, 45, 216);
    --bg-transparent: rgba(251, 129, 34, 0.10);

    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}

body.light {
    --text-color: rgb(29, 34, 40);
    --bg-color-darker: rgba(189, 200, 212, 0.5);
    --bg-color-lighter: rgba(225, 226, 226, 0.5);
    --btn-bgcolor: rgb(29, 34, 40);

    --text-color-pg2: rgba(58, 37, 109);
    --bg-color-darker-opaque: rgb(189, 200, 212);
    --bg-color-lighter-opaque: rgb(225, 226, 226);
    --bg-transparent: rgba(251, 129, 34, 0.10);

  }

.container {
    width: 1224px;
    margin: 0 auto;
}

.wrapper-bg {
    background-image: linear-gradient(174deg, 
    var(--bg-color-darker) -3.73%, 
    var(--bg-color-lighter) 102.38%),
    url(../../img/bg-desktop.jpg);

    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-bg-search {
    background: linear-gradient(174deg, 
    var(--bg-color-darker-opaque) -3.73%, 
    var(--bg-color-lighter-opaque) 102.38%);
    height: 100vh;
}

@include mqDecrease (476px) {
    .container {
        max-width: 354px;
    }
}
