.hero {
    margin-top: 92px;
    &__title {
        width: 828px;
        @include textSize (700, 98px, 120px);
        letter-spacing: 10px;
        color: var(--text-color);
    }
    &__title> span {
        color: $main-orange;
    }
    &__buttons {
        margin-top: 80px;
        margin-right: 44px;
        @include flex (end, space-between);
    }
    &__find {
        background-color: $main-orange;
        padding: 15px 37px;
        border-radius: 21px;
        border-color: transparent;
        &:hover {
            background-color: rgb(212, 102, 17);
            transition: 0.5s;
        }
        
        &-link{
            text-decoration: none;
            color: $dark-blue;
            @include textSize (700, 35px, normal);
            
        }
    }
    &__video-start {
        border-color: transparent;
        border-radius: 30px;
        width: 127px;
        height: 90px;
        .btn-bgcolor {
            fill: var(--btn-bgcolor);
        }
    }
    &__footer {
        margin-top: 93px;
        margin-bottom: 93px;
        &-select {
            @include flex (center, space-between);
            gap: 59px;
        }
    }
    .select-item {
        position: relative;
    }
    .select-link {
        text-decoration: none;
        @include textSize (700, 35px, normal);
        color: var(--text-color);
    }
    .select-link::before {
        content: '';
        position: absolute;
        top: 53px;
        width: 61px;
        border-bottom: 4px solid $main-orange;
    }
    .mentor-registration {
        margin-left: auto;
    }
    .mentor-registration-link {
        text-decoration: none;
        @include textSize (400, 30px, normal);
        color: var(--text-color);
    }
    
}

@include mqDecrease (476px) {
    .hero {
        margin-top: 71px;
        &__title {
            width: 309px;
            @include textSize (700, 60px, 85px);
            letter-spacing: 0px;
        }
        &__buttons {
            display: inline-block;
            margin-top: 55px;
        }
        &__find {
            padding: 11px 25px;
            border-radius: 14px;

            &-link{
                @include textSize (700, 24px, normal);
            }
        }
        &__video-start { 
            position: absolute;
            right: 60px;
            bottom: 163px;

            width: 68px;
            height: 48px;
            border-radius: 16px;
        }
        &__footer {
            margin-top: 55px;
            margin-bottom: 61px;
            &-select {
                display: inline-block;
            }
        }
        .select-item {
            position: relative;
            margin-bottom: 20px;
        }
        .select-link {
            @include textSize (700, 19px, normal);
        }
        .select-link::before {
            top: 30px;
            width: 32px;
            border-bottom: 4px solid $main-orange;
        }
        .mentor-registration {
            position: absolute;
            bottom: 61px;
            right: 110px;
        }
        .mentor-registration-link {
            @include textSize (400, 12px, normal);
        } 
    }
}
